{% extends '::base.html.twig' %}

{% block header_title %}
    <h2>
        {% if results %}
        {{ 'search.header.title.index'|trans({'%term%' : term})|capitalize }}
        {% else %}
            {{ 'search.header.title.indexWithoutTerm'|trans|capitalize }}
        {% endif %}
    </h2>
{% endblock %}

{% block main %}
    {{ form(form) }}

    {% if results %}
        <h3>{{ 'search.header.title.results'|trans({'%term%' : term})|capitalize }}</h3>
        <div class="list-group">
        {% for result in results %}
                <a href="{{ result.route }}" class="list-group-item">
                    {{ result.title }}
                    <span class="badge badge-info">
                        {{ result.bundle }}
                    </span>
                </a>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}


