{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/search.css') }}" />
{% endblock %}

{% block header_title %}
    <h2>
        {% if term %}
            {{ 'search.header.title.index'|trans({'%term%' : term})|capitalize }}
        {% else %}
            {{ 'search.header.title.indexWithoutTerm'|trans|capitalize }}
        {% endif %}
    </h2>
{% endblock %}

{% block main %}
    {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
        {{ form_rest(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-default">
                {{ 'search.forms.buttons.search'|trans|capitalize }}
            </button>
        </div>
    {{ form_end(form) }}

    {% if results %}
        <h3>{{ 'search.header.title.results'|trans({'%term%' : term})|capitalize }}</h3>
        <div class="list-group">
            {% for result in results %}
                <a href="{{ result.route }}" class="list-group-item">
                    {{ result.title }}
                    <span class="badge badge-info">
                        {{ result.bundle }}
                    </span>
                </a>
            {% endfor %}
        </div>
    {% elseif term %}
        <div class="alert alert-info alert-search-results">
            {{ 'search.forms.no_results'|trans }}
        </div>
    {% endif %}
{% endblock %}
